<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>	
        <add key="owner" value="admin" />				
        <add key="lastUpdate" value="Saturday, April 28, 2021" />
        <add key="database" value="FusionMotors" />
        <add key="keyVersion" value="1asdKuNIrrVdr#FdsCuw1herC!" />
        <add key="application" value="0DPiKuNIrrVmD8IUCuw1hQxNqZc=" />
        <add key="mongoPath" value="C:\Program Files\MongoDB\Server\4.4\bin" />
    </appSettings>
</configuration>